[submodule "Assets/GameRes/PackageBusOut"]
	path = Assets/GameRes/PackageBusOut
	url = http://10.240.11.119/word_crush/busoutpackage.git
	branch = mini-game
[submodule "Assets/GameRes/PackageTriple3d"]
	path = Assets/GameRes/PackageTriple3d
	url = http://10.240.11.119/word_crush/TripleMath3DPackage.git
	branch = mini-game
