[submodule "Assets/GameRes/PackageScrew"]
	path = Assets/GameRes/PackageScrew
	url = http://10.240.11.119/word_crush/screwpackage.git
	branch = word-cipher
[submodule "Assets/GameRes/PackageJam3d"]
	path = Assets/GameRes/PackageJam3d
	url = http://10.240.11.119/word_crush/Jam3dPackage.git
	branch = word-cipher
