<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.nutz.game">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:hardwareAccelerated="true"
        android:networkSecurityConfig="@xml/network_security_config">

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-7540938745394762~9361030136"/>

        <meta-data 
            android:name="applovin.sdk.key"
            android:value="hBXivm5wUowe1VgTGK0ycdpVQzliyRmIlKTiMt2o4ST8zfgSEgqDDayTVadc1Cvrf8UlImzRuBDQcSahO8e7Tx"/>
    </application>
</manifest>